/*! Overall great work everything was easy to read and see what was going on with the CSS, nice to have it all sectioned out as well. Checkout the feedback and my solution if you haven't already let me know if you have any questions. */

* {
	margin: 0;
	padding: 0;
	/* box-sizing: border-box; */ /*! I'm going to leave this commented out b/c it'll break things w/ how you have everything set up currently. However I think it would have made this project easier overall. No sense in back pedaling now though. */
}

body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* color scheme============================================================
color:  #21A179 green, #fff white, #333 black, #f4f4f4 eggshell/greyish */

/*! Universal was spelled incorrectly, I suck at spelling I only know because to the code spell check extension, give it a look */
/* Universal Styles============================================
============================================================ */
#wrapper {
	width: 100%;
	margin: 0 auto;
	min-width: 560px;
	position: relative;
}

.main-content {
	margin-top: 52px;
}

header {
	position: fixed;
	top: 0;
	background: #444;
	/*! I think the header and the footer should have the same color, just my opinion. */
	width: 100%;
}

header,
footer {
	/* background: #333;     */
	color: #f4f4f4;
	height: 52px;
}

footer {
	background: #333;
	clear: both; /*! Instead of adding the clear: both; on the selector I like to just make a class called .clr and clear out my floats that way with an empty div, no its not semantically great but it sure is easier. Something to think about. Class example is listed below. */
	width: 100%;
}

/*! Sample of clr class */
.clr {
	clear: both;
}

footer p {
	text-align: center;
	padding: 15px;
}

nav {
	position: absolute;
	display: inline-block;
	top: -16px;
	right: 45px;
	width: 400px;
	padding: 16px;
	text-align: right;
}

header h3 {
	position: relative;
	top: 12px;
	left: 45px;
	display: inline-block;
	cursor: auto;
}

header li {
	margin: 0;
	padding: 15px 10px;
}

header li:hover {
	background-color: #555;
}

/*? You have a mixture of snake_case_words and whatever-style-this-is. I like to use whatever-style-this-is personally for everything myself. I don't care which you use but I would stick w/ just one though. You have more snake_case so I'd probably stick w/ that if its already muscle memory. */
.active_nav li {
	background-color: #555;
	color: #21a179;
}

header a {
	color: #f4f4f4;
}

h2 {
	font-size: 2rem;
}

header li {
	display: inline-block;
}

a {
	text-decoration: none;
}

p {
	padding: 20px 10px;
}

/* Home Page Styling =================================
====================================================*/

.first_home_container {
	background-image: url('img/showcase.jpg');
	height: 400px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.first_home_container section {
	text-align: center;
	color: white;
	padding-top: 80px;
	min-width: 500px;
}

.first_home_container h1 {
	font-size: 3rem;
	text-shadow: 1px 1px 2px #21a179;
	margin: 16px 0 -27px 0;
}

.first_home_container span {
	text-shadow: 1px 1px 2px #333;
}

span {
	color: #21a179;
}

.first_home_container p {
	margin-top: 45px;
}

.first_home_container a {
	background-color: #333;
	color: white;
	padding: 10px;
}

.first_home_container a:hover {
	background-color: #444;
	box-shadow: 1px 1px 3px 1px black;
}

.coins {
	/*! You can shorten to just background if you'd like, however its probably better to be more explicit than less. */
	background-image: url('img/photo-1.jpg');
	width: 50%;
	height: 320px;
	background-position: right;
	background-repeat: no-repeat;
	background-size: cover;
	float: left;
}

.history {
	background: #333;
	color: white;
	width: 44%;
	height: 320px;
	text-align: center;
	padding: 0 3%;
	float: left;
}
.second_home_container {
	min-width: 450px;
}
.second_home_container h3 {
	padding-top: 45px;
}

.second_home_container p,
.tri_box {
	font-size: 0.9rem;
}

.second_home_container a {
	background: #f4f4f4;
	color: #333;
	padding: 10px;
}

.second_home_container a:hover {
	background: lightgrey;
	box-shadow: 1px 1px 3px 1px black;
}

.tri_box {
	float: left;
	background: #f4f4f4;
	color: #333;
	width: 29%;
	min-height: 220px;
	text-align: center;
	padding: 2%; /*? If you had done border-box the numbers are a lot cleaner to work with. */
}

.tri_box p {
	padding-top: 10px;
}

/*? Since its only used once I added the nth-child() selector below */
/* .green_bg {
	background: #21a179;
	width: 30%;
} */

/*? Harcourt addition */
.third_home_container section:nth-child(2) {
	background: #21a179;
	width: 30%;
}

i {
	font-size: 2rem;
	padding: 20px;
}

/* About Page Styling ================================
====================================================*/

.main-about {
	color: #333;
	max-width: 1280px;
	margin: auto;
	padding: 25px 60px;
}

.main-about img {
	float: right;
	margin: 20px;
	width: 350px;
	box-shadow: 1px 1px 3px 1px rgba(51, 51, 51, 0.5);
	/*? Shadow is nice! */
	border-radius: 5px;
	/*? I think the image looks better as a square! */
}

.ct-container {
	background-image: url('img/test-bg.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	min-height: 300px;
	box-shadow: inset 0 5px 3px 1px rgba(51, 51, 51, 0.75);
	clear: both;
	text-align: center;
	margin: 0 auto;
	padding: 25px;
}

.customer-testimonials {
	padding: 25px;
}

.customer-testimonials h2 {
	color: #f4f4f4;
	text-shadow: 3px 3px 3px #333;
	/*! I see what you were talking about making the text stand out a little better. Nice effect. */
}

.customer-testimonials aside {
	background-color: rgba(244, 244, 244, 0.92);
	color: #333;
	border: 3px solid #21a179;
	border-radius: 80px 10px 40px 80px;
	/*! This was sharp, I really like the added border-radius here */
	box-shadow: 5px 5px 3px 1px rgba(51, 51, 51, 0.75);
	max-width: 650px;
	min-height: 104px;
	margin: 25px auto;
	padding: 10px;
	text-align: justify;
}

.test-img {
	background-position: center;
	background-size: cover;
	width: 100px;
	height: 100px;
	border: 2px solid #21a179;
	border-radius: 50%;
	/*! I think this looks nice */
	box-shadow: inset 2px 2px 1px 1px rgba(51, 51, 51, 0.75);
	margin-right: 10px;
	float: left;
}
/* Add testimonial images here after creating a new class or id for them - add class to html  */
.img-1 {
	background-image: url('img/person-1.jpg');
}

.img-2 {
	background-image: url('img/person-2.jpg');
}

.abt-foot {
	border-top: 1px solid #222;
	/*! I don't think the border here is necessary */
}

/* Contact Page Styling ================================
====================================================*/

.contact-pg {
	background-image: url('img/test-bg.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 450px;
	box-shadow: inset 0 5px 3px 1px rgba(51, 51, 51, 0.75);
	/*! I think this shadow looks a little strange because it doesn't move with the navbar. Just my 2 cents. */
	clear: both;
	text-align: center;
	margin: 0 auto;
	padding: 160px 0 210px 0;
}

.gry-container {
	/*? The background is a nice touch! */
	background-image: url('img/pw_maze_black.png');
	height: 220px;
}
.gry_box {
	/* display: inline-block; */ /*! You don't need this, I can't remember if I spoke to this but if an item is floated, it is treated as display: block regardless of what the display is set to. Since this is being overwritten anyways I commented it out. */
	float: left;
	color: #f4f4f4;
	width: 29.33%;
	text-align: center;
	padding: 2%;
}

fieldset {
	background-color: rgba(244, 244, 244, 0.92);
	color: #333;
	border: 3px solid #21a179;
	border-radius: 15px 15px 40px 10px;
	/*! I really like border radius here. */
	box-shadow: 5px 5px 3px 1px rgba(51, 51, 51, 0.75);
	/*? I like this box shadow, nice and subtle */
	width: 650px;
	margin: 0 auto;
	text-align: left;
}

form {
	/* margin: o auto; */ /*! You have the letter "o" instead of the number 0 */
	margin: 0 auto;
	width: 95%;
	padding: 1em;
}

form ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

form li {
	font-size: 1.5em;
	margin: 10px;
}

label {
	display: inline-block;
	margin-bottom: 10px;
}

textarea,
input {
	width: 99%;
	padding: 5px;
}

input {
	vertical-align: top;
}

.right {
	float: right;
}

.gray_btn {
	background-color: #333;
	color: white;
	padding: 10px;
	border: none; /*? I think buttons look better without borders, most of the time, there are some instances where they are necessary */
	cursor: pointer; /*? Just want the pointer */
}

.gray_btn:hover {
	background-color: #444;
	/* box-shadow: 1px 1px 1px 1px black; */
	box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.5);
	/*? Just softening the shadow up a bit. Would recommend scaling it up a bit to make it looks like its jumping off the page. */
}
